* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #F3F8FB;
}

.heading {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 5vh;
    cursor: pointer;
    text-shadow: rgba(0, 255, 213, 0.9) 10px 8px 50px;
}

.heading:hover {
    cursor: pointer;
    font-size: 3.4rem;
    transition: 0.6s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
}

.frontend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: 1.5vw;
    height: 65vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
}

img:hover {
    height: 67vh;
    width: 72vw;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.Tailwind_CSS_Question img {
    margin: 1.1vw 15vw;
    height: 75vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Tailwind_CSS_Question img:hover {
    height: 77vh;
    width: 72vw;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.JavaScript_Question img {
    margin: 1.1vw 15vw;
    height: 70vh;
    width: 70vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.JavaScript_Question img:hover {
    height: 72vh;
    width: 72vw;
    transition: all 0.5s ease-in-out;
}


/* Question & Answer Styleing Start */
.css_qa {
    margin: 1.5vw 15vw;
    width: 70vw;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: none;
}

.css_qa img:hover {
    margin-top: 1.5vw;
    height: 65vh;
    width: 70vw;
}

.css_qa h1 {
    font-size: 2.5rem;
    background-color: #FFFFFF;
    margin-top: 20px;
    padding-left: 10px;
}

.css_qa h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: #FFFFFF;
    padding-left: 10px;
}

.css_qa p {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding-left: 10px;
}

ul {
    background-color: #FFFFFF;
    padding-left: 10px;
    margin-left: 30px;
}

ul li {
    background-color: #FFFFFF;
    list-style: square;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
/* Question & Answer Styleing End */